@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    background-color: #A7DDF2;

}

header{
    position: fixed;
    height: 20vh;
    width: 100%;
    background-color: #010326;
    z-index: 10;
}

nav{
    display: flex;
    width: 100%;
    height: 100%;
}

.ferradura{
    width: 180px;
    height: 130px;

}

ul{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.list{
    color:#A898B3;
    font-family: 'Old Standard TT', serif;
    font-size: 30px;

}

.list a{
    text-decoration: none;
    color:#A898B3;



}

.list a:hover{
    color:#915579;
    transition: 3s;
    cursor: pointer;

}